.header {
    padding: 20px;
}

.header > img{
  margin-left: 50px;
  height: 100px;
}

.mat-drawer-container {
    height: 0px;
    min-height: 0px;
}

.mat-sidenav-container {
  height: 0px;
  min-height: 0px;
}

.fullscreen {
  width: 100%;
  margin:50px;
}
