<div class="footer "fxLayout="column" fxLayoutAlign="">
  <div fxLayout="row" fxLayoutAlign="center center center">
    <div fxFlex="" fxLayoutAlign="start">
      <div style="vertical-align:top;">
        <p>Cuenta</p>
        <ul>
          <li>Registro</li>
          <li>Entrar</li>
          <li>Suscripción</li>
          <li>Darse de baja</li>
          <li>LOPD</li>
        </ul>
      </div>
    </div>
    <div fxFlex="" fxLayoutAlign="center">
      <div>
        <p>Empresa</p>
        <ul>
          <li>Sobre nosotros</li>
          <li>Redes sociales</li>
          <li>Suscripción noticias</li>
          <li>Prensa</li>
          <li>Galería</li>
        </ul>
      </div>
    </div>
    <div fxFlex="" fxLayoutAlign="end">
      <div>
        <p>Ayuda</p>
        <ul>
          <li>Accesibilidad</li>
          <li>Política de cookies</li>
          <li>Mapa Web</li>
          <li>Sugerencia y reclamaciones</li>
          <li>Contacto</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="text-align:center;"><p>&copy; Copyrigth 2024 - Moisés Segura Cedrés - TFM - UOC</p></div>
</div>
